<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384456707763-e76da3ad5n3ppv74dkmn25clvj021inm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384456707763-e76da3ad5n3ppv74dkmn25clvj021inm</string>
	<key>API_KEY</key>
	<string>AIzaSyCBXJCEdkuAah85lZdrDjXOD0FAQPV6_0U</string>
	<key>GCM_SENDER_ID</key>
	<string>384456707763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginSignUpApp</string>
	<key>PROJECT_ID</key>
	<string>login-sign-up-app-9bb79</string>
	<key>STORAGE_BUCKET</key>
	<string>login-sign-up-app-9bb79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384456707763:ios:8999889b061cb21ac0eac6</string>
</dict>
</plist>